/* Section 1 */
.footer-section1{
    background-color: #37475A;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

/* Footer section 2 */

.footer-section2{
    background-color: #232F3E;
    height: 350px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: row;
    font-size: 0.85rem;
    padding-top: 50px;
}

.footer-container p{
    font-size: 1rem;
    font-weight: 700;
}

.footer-container ul{
    list-style-type: none;
    display: inline;
}

.footer-container li{
    margin-top: 8px;
}


/* Footer Section 3 */
.footer-section3{
    background-color: #232F3E;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    border-top: 0.1px solid grey;
}

.footer-section3 div{
    /* background-color: red; */
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.80rem;
    padding: 2px 20px 2px 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2px;
}
.section-details{
    border: 0.1px solid grey;
}

.logo-amazon {
  background-image: url("../images/amazon-logo.png");
  color: #0f1111;
  background-size: cover;
  width: 120px;
  height: 40px;
  filter: brightness(0.8) invert(1);
}


/* Section 4 */
.footer-section4{
    background-color: #131A22;
    height: 200px;
    color: #DDDDDD;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 0.75rem;
}

.section4-rights1 span{
    margin-right: 6px;
    margin-left: 6px;;
}