.shop-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 420px;
  padding-left: 15px;
  padding-right: 5px;
}

.shop-section div {
  background-color: white;
  height: 100%;
  width: 100%;
  margin-right: 20px;
  padding: 20px;
}

.shop-section div p {
  font-size: 1.3rem;
  font-weight: 600;
}

.box {
  background-color: green;
  height: 100px;
  width: 100px;
}
