.shop-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 820px;
  padding-left: 15px;
  padding-right: 5px;
  margin-bottom: 100px;
  /*remove leter*/
}

.box {
  background-color: pink;
  height: 400px;
  width: 100%;
  margin-right: 16px;
  padding-top: 18px;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  flex-direction: column;
}

.box p {
  margin-bottom: 16px;
}

.box span {
  margin-top: auto;
  margin-bottom: 10px;
}

.shop-section-grid {
  height: auto;
  width: 100%;
  min-height: 280px;
  /* background-color: aqua; */
  box-sizing: border-box;
  overflow: hidden;
  /* background-image: url("../images/grids/grid-1.jpg");
  background-size: cover; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop-section-grid>div {
  width: 130px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.shop-grid {
  height: 110px;
  width: 130px;
  min-height: 80px;
  /* background-color: antiquewhite; */
  box-sizing: border-box;
  overflow: hidden;
  /* background-image: url("../images/grids/grid-1.jpg"); */
  background-size: cover;
}

.grid-heading {
  font-size: 1.3rem;
  font-weight: 600;
}

.grid-detail {
  font-size: 0.75rem;
  margin-top: 2px;
  white-space: normal;
  word-break: break-word;
}

.more-details-shop {
  font-size: 0.85rem;
}